/* PHASE 9: Forms */

.post-form-container {
  display: flex;
}


.input-form {
  margin-left: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  width: calc(100% - 122px);
  background-color: #eee;
}

.input input {
  background-color: white;
  width: calc(100% - 22px);
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 5px;
  font-weight: 400;
}

.input textarea {
  height: 120px;
  background-color: white;
  width: calc(100% - 22px);
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 5px;
}

.input input:focus {
  border: 1px solid #0c0;
}

.input textarea:focus {
  border: 1px solid #0c0;
}

.input label {
  font-weight: 700;
}

.button-info {
  display: flex;
  align-items: baseline;
}

.button-info > p {
  padding: 0 10px;
}

.button-info > a {
  font-weight: bold;
}

.button-info > a:hover {
  color: red;
}

.submit {
  color: white;
  font-weight: bold;
  background-color: #0c0;
  box-shadow: 0 3px 0 0 #070;
  border-radius: 5px;
  padding: 10px 20px;
  position: relative;
}

.submit:hover {
  cursor: pointer;
  background-color: #0b0;
}

.submit:active {
  box-shadow: none;
  top: 3px;
  background-color: #070;
}

