/* PHASE 7: Online */

.online {
  position: absolute;
  color: white;
  background-color: #0c0;
  left: -31px;
  top: 11px;
  transform: rotate(-45deg);
  padding: 5px 30px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 3px;
  box-shadow: 0 1px 0 0 #070;
}

.profile-picture {
  overflow: hidden;
}