<h1>Sign In</h1>

<form action="<%= session_url %>" method="POST">
    <%= auth_token %>

    <label>
        Username
        <input type="text" name="user[username]">
    </label>

    <br>

    <label>
        Password 
        <input type="password" name="user[password]">
    </label>

    <br>

    <button>Sign In</button>

</form>

<br>

<%= link_to 'Create an account', new_user_url %>